@import '../_vars';

#nav {
  padding-top: 1rem;
  ul {
      li {
          a {
            display: block;
            text-transform: lowercase;
            font-size: 28px;
            line-height: 30px;
            color: #999999;
            padding-right: 2rem;
            padding-bottom: 1rem;
          }
      }
  }
}