@import '../_vars';

#nav {
  padding-top: 1rem;

  ul {
    position: sticky;
    top: 1rem;
    left:0;
    z-index: 2;
      li {
        &.current {
          a {
            color: $black;
          }
        }
          a {
            display: block;
            text-transform: lowercase;
            font-size: 1.75rem;
            line-height: 1.8rem;
            color: #999999;
            padding-right: 4rem;
            padding-bottom: 1.5rem;

            &:hover,
            &:active {
              color: $black;
            }
          }
      }
  }
}