@import '../_vars';

#nav {
  padding-top: 1rem;
  ul {
      li {
          a {
            display: block;
            text-transform: lowercase;
            font-size: 1.75rem;
            line-height: 1.8rem;
            color: #999999;
            padding-right: 4rem;
            padding-bottom: 1rem;
          }
      }
  }
}