.dis-flex {
  display: flex; }

.align-self-center {
  -ms-grid-row-align: center;
  align-self: center; }

.align-items-center {
  align-items: center; }

.align-items-end {
  align-items: flex-end; }

.align-items-start {
  align-items: flex-start; }

.align-items-base {
  align-items: baseline; }

.align-content-end {
  align-content: flex-end; }

.align-content-center {
  align-content: center; }

.align-content-between {
  align-content: space-between; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-around {
  justify-content: space-around; }

.justify-content-end {
  justify-content: flex-end; }

.justify-content-center {
  justify-content: center; }

.justify-content-start {
  justify-content: flex-start; }

.flex-wrap-wrap {
  flex-wrap: wrap; }

.flex-direction-col {
  flex-direction: column; }

.dis-grid {
  display: -ms-grid;
  display: grid; }

.grid-col-lg-1 {
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr); }

.grid-col-lg-2 {
  -ms-grid-columns: (2fr)[2];
  grid-template-columns: repeat(2, 2fr); }

.grid-col-lg-3 {
  -ms-grid-columns: (3fr)[3];
  grid-template-columns: repeat(3, 3fr); }

.grid-col-lg-4 {
  -ms-grid-columns: (4fr)[4];
  grid-template-columns: repeat(4, 4fr); }

.grid-col-lg-5 {
  -ms-grid-columns: (5fr)[5];
  grid-template-columns: repeat(5, 5fr); }

.grid-col-lg-6 {
  -ms-grid-columns: (6fr)[6];
  grid-template-columns: repeat(6, 6fr); }

.padding-t-5 {
  padding-top: 5px; }

.margin-t-5 {
  margin-top: 5px; }

.margin-b-5 {
  margin-bottom: 5px; }

.padding-t-6 {
  padding-top: 6px; }

.margin-t-6 {
  margin-top: 6px; }

.margin-b-6 {
  margin-bottom: 6px; }

.padding-t-7 {
  padding-top: 7px; }

.margin-t-7 {
  margin-top: 7px; }

.margin-b-7 {
  margin-bottom: 7px; }

.padding-t-8 {
  padding-top: 8px; }

.margin-t-8 {
  margin-top: 8px; }

.margin-b-8 {
  margin-bottom: 8px; }

.padding-t-9 {
  padding-top: 9px; }

.margin-t-9 {
  margin-top: 9px; }

.margin-b-9 {
  margin-bottom: 9px; }

.padding-t-10 {
  padding-top: 10px; }

.margin-t-10 {
  margin-top: 10px; }

.margin-b-10 {
  margin-bottom: 10px; }

.padding-t-11 {
  padding-top: 11px; }

.margin-t-11 {
  margin-top: 11px; }

.margin-b-11 {
  margin-bottom: 11px; }

.padding-t-12 {
  padding-top: 12px; }

.margin-t-12 {
  margin-top: 12px; }

.margin-b-12 {
  margin-bottom: 12px; }

.padding-t-13 {
  padding-top: 13px; }

.margin-t-13 {
  margin-top: 13px; }

.margin-b-13 {
  margin-bottom: 13px; }

.padding-t-14 {
  padding-top: 14px; }

.margin-t-14 {
  margin-top: 14px; }

.margin-b-14 {
  margin-bottom: 14px; }

.padding-t-15 {
  padding-top: 15px; }

.margin-t-15 {
  margin-top: 15px; }

.margin-b-15 {
  margin-bottom: 15px; }

.padding-t-16 {
  padding-top: 16px; }

.margin-t-16 {
  margin-top: 16px; }

.margin-b-16 {
  margin-bottom: 16px; }

.padding-t-17 {
  padding-top: 17px; }

.margin-t-17 {
  margin-top: 17px; }

.margin-b-17 {
  margin-bottom: 17px; }

.padding-t-18 {
  padding-top: 18px; }

.margin-t-18 {
  margin-top: 18px; }

.margin-b-18 {
  margin-bottom: 18px; }

.padding-t-19 {
  padding-top: 19px; }

.margin-t-19 {
  margin-top: 19px; }

.margin-b-19 {
  margin-bottom: 19px; }

.padding-t-20 {
  padding-top: 20px; }

.margin-t-20 {
  margin-top: 20px; }

.margin-b-20 {
  margin-bottom: 20px; }

.padding-t-21 {
  padding-top: 21px; }

.margin-t-21 {
  margin-top: 21px; }

.margin-b-21 {
  margin-bottom: 21px; }

.padding-t-22 {
  padding-top: 22px; }

.margin-t-22 {
  margin-top: 22px; }

.margin-b-22 {
  margin-bottom: 22px; }

.padding-t-23 {
  padding-top: 23px; }

.margin-t-23 {
  margin-top: 23px; }

.margin-b-23 {
  margin-bottom: 23px; }

.padding-t-24 {
  padding-top: 24px; }

.margin-t-24 {
  margin-top: 24px; }

.margin-b-24 {
  margin-bottom: 24px; }

.padding-t-25 {
  padding-top: 25px; }

.margin-t-25 {
  margin-top: 25px; }

.margin-b-25 {
  margin-bottom: 25px; }

.padding-t-26 {
  padding-top: 26px; }

.margin-t-26 {
  margin-top: 26px; }

.margin-b-26 {
  margin-bottom: 26px; }

.padding-t-27 {
  padding-top: 27px; }

.margin-t-27 {
  margin-top: 27px; }

.margin-b-27 {
  margin-bottom: 27px; }

.padding-t-28 {
  padding-top: 28px; }

.margin-t-28 {
  margin-top: 28px; }

.margin-b-28 {
  margin-bottom: 28px; }

.padding-t-29 {
  padding-top: 29px; }

.margin-t-29 {
  margin-top: 29px; }

.margin-b-29 {
  margin-bottom: 29px; }

.padding-t-30 {
  padding-top: 30px; }

.margin-t-30 {
  margin-top: 30px; }

.margin-b-30 {
  margin-bottom: 30px; }

.padding-t-31 {
  padding-top: 31px; }

.margin-t-31 {
  margin-top: 31px; }

.margin-b-31 {
  margin-bottom: 31px; }

.padding-t-32 {
  padding-top: 32px; }

.margin-t-32 {
  margin-top: 32px; }

.margin-b-32 {
  margin-bottom: 32px; }

.padding-t-33 {
  padding-top: 33px; }

.margin-t-33 {
  margin-top: 33px; }

.margin-b-33 {
  margin-bottom: 33px; }

.padding-t-34 {
  padding-top: 34px; }

.margin-t-34 {
  margin-top: 34px; }

.margin-b-34 {
  margin-bottom: 34px; }

.padding-t-35 {
  padding-top: 35px; }

.margin-t-35 {
  margin-top: 35px; }

.margin-b-35 {
  margin-bottom: 35px; }

.padding-t-36 {
  padding-top: 36px; }

.margin-t-36 {
  margin-top: 36px; }

.margin-b-36 {
  margin-bottom: 36px; }

.padding-t-37 {
  padding-top: 37px; }

.margin-t-37 {
  margin-top: 37px; }

.margin-b-37 {
  margin-bottom: 37px; }

.padding-t-38 {
  padding-top: 38px; }

.margin-t-38 {
  margin-top: 38px; }

.margin-b-38 {
  margin-bottom: 38px; }

.padding-t-39 {
  padding-top: 39px; }

.margin-t-39 {
  margin-top: 39px; }

.margin-b-39 {
  margin-bottom: 39px; }

.padding-t-40 {
  padding-top: 40px; }

.margin-t-40 {
  margin-top: 40px; }

.margin-b-40 {
  margin-bottom: 40px; }

.padding-t-41 {
  padding-top: 41px; }

.margin-t-41 {
  margin-top: 41px; }

.margin-b-41 {
  margin-bottom: 41px; }

.padding-t-42 {
  padding-top: 42px; }

.margin-t-42 {
  margin-top: 42px; }

.margin-b-42 {
  margin-bottom: 42px; }

.padding-t-43 {
  padding-top: 43px; }

.margin-t-43 {
  margin-top: 43px; }

.margin-b-43 {
  margin-bottom: 43px; }

.padding-t-44 {
  padding-top: 44px; }

.margin-t-44 {
  margin-top: 44px; }

.margin-b-44 {
  margin-bottom: 44px; }

.padding-t-45 {
  padding-top: 45px; }

.margin-t-45 {
  margin-top: 45px; }

.margin-b-45 {
  margin-bottom: 45px; }

.padding-t-46 {
  padding-top: 46px; }

.margin-t-46 {
  margin-top: 46px; }

.margin-b-46 {
  margin-bottom: 46px; }

.padding-t-47 {
  padding-top: 47px; }

.margin-t-47 {
  margin-top: 47px; }

.margin-b-47 {
  margin-bottom: 47px; }

.padding-t-48 {
  padding-top: 48px; }

.margin-t-48 {
  margin-top: 48px; }

.margin-b-48 {
  margin-bottom: 48px; }

.padding-t-49 {
  padding-top: 49px; }

.margin-t-49 {
  margin-top: 49px; }

.margin-b-49 {
  margin-bottom: 49px; }

.padding-t-50 {
  padding-top: 50px; }

.margin-t-50 {
  margin-top: 50px; }

.margin-b-50 {
  margin-bottom: 50px; }

.relative {
  position: relative; }

.z1 {
  z-index: 1; }

.full-height {
  height: 100%;
  min-height: 100%; }

.full-width {
  width: 100%;
  min-width: 100%; }

h1, h2, h3 {
  font-weight: normal; }

.col-lg-1 {
  width: 8.33333333%; }

.col-lg-2 {
  width: 16.66666667%; }

.col-lg-3 {
  width: 25%; }

.col-lg-4 {
  width: 33.33333333%; }

.col-lg-5 {
  width: 41.66666667%; }

.col-lg-6 {
  width: 50%; }

.col-lg-7 {
  width: 58.33333333%; }

.col-lg-8 {
  width: 66.66666667%; }

.col-lg-9 {
  width: 75%; }

.col-lg-10 {
  width: 83.33333333%; }

.col-lg-11 {
  width: 91.66666667%; }

.col-lg-12 {
  width: 100%; }

.col-lg-vw-1 {
  width: 8.3vw; }

.col-lg-vw-2 {
  width: 16.6vw; }

.col-lg-vw-3 {
  width: 25vw; }

.col-lg-vw-4 {
  width: 33.3vw; }

.col-lg-vw-5 {
  width: 41.6vw; }

.col-lg-vw-6 {
  width: 50vw; }

.col-lg-vw-7 {
  width: 58.3vw; }

.col-lg-vw-8 {
  width: 66.67vw; }

.col-lg-vw-9 {
  width: 75vw; }

.col-lg-vw-10 {
  width: 83.3vw; }

.col-lg-vw-11 {
  width: 91.67vw; }

.col-lg-vw-12 {
  width: 100vw; }

@charset "UTF-8";
.fancybox-enabled {
  overflow: hidden; }

.fancybox-enabled body {
  overflow: visible;
  height: 100%; }

.fancybox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99993;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fancybox-container ~ .fancybox-container {
  z-index: 99992; }

.fancybox-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0f0f11;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fancybox-container--ready .fancybox-bg {
  opacity: .87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  z-index: 99994;
  transition: opacity .2s;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  direction: ltr; }

.fancybox-show-controls .fancybox-controls {
  opacity: 1; }

.fancybox-infobar {
  display: none; }

.fancybox-show-infobar .fancybox-infobar {
  display: inline-block;
  pointer-events: all; }

.fancybox-infobar__body {
  display: inline-block;
  width: 70px;
  line-height: 44px;
  font-size: 13px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: center;
  color: #ddd;
  background-color: rgba(30, 30, 30, 0.7);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased; }

.fancybox-buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  pointer-events: all; }

.fancybox-show-buttons .fancybox-buttons {
  display: block; }

.fancybox-slider-wrap {
  overflow: hidden;
  direction: ltr; }

.fancybox-slider, .fancybox-slider-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 99993;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent; }

.fancybox-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  white-space: normal;
  box-sizing: border-box;
  text-align: center;
  z-index: 99994;
  -webkit-overflow-scrolling: touch; }

.fancybox-slide:before {
  content: "";
  height: 100%;
  width: 0; }

.fancybox-slide:before, .fancybox-slide > * {
  display: inline-block;
  vertical-align: middle; }

.fancybox-slide > * {
  position: relative;
  padding: 24px;
  margin: 44px 0;
  border-width: 0;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box; }

.fancybox-slide--image {
  overflow: hidden; }

.fancybox-slide--image:before {
  display: none; }

.fancybox-content {
  display: inline-block;
  position: relative;
  margin: 44px auto;
  padding: 0;
  border: 0;
  width: 80%;
  height: calc(100% - 88px);
  vertical-align: middle;
  line-height: normal;
  text-align: left;
  white-space: normal;
  outline: none;
  font-size: 16px;
  font-family: Arial,sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch; }

.fancybox-iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #fff; }

.fancybox-slide--video .fancybox-content, .fancybox-slide--video .fancybox-iframe {
  background: transparent; }

.fancybox-placeholder {
  z-index: 99995;
  background: transparent;
  cursor: default;
  overflow: visible;
  transform-origin: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fancybox-image, .fancybox-placeholder, .fancybox-spaceball {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0; }

.fancybox-image, .fancybox-spaceball {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  background: transparent;
  background-size: 100% 100%; }

.fancybox-controls--canzoomOut .fancybox-placeholder {
  cursor: zoom-out; }

.fancybox-controls--canzoomIn .fancybox-placeholder {
  cursor: zoom-in; }

.fancybox-controls--canGrab .fancybox-placeholder {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-controls--isGrabbing .fancybox-placeholder {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden; }

.fancybox-error {
  position: absolute;
  margin: 0;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 380px;
  max-width: 100%;
  transform: translate(-50%, -50%);
  background: #fff;
  cursor: default; }

.fancybox-error p {
  margin: 0;
  padding: 0;
  color: #444;
  font: 16px/20px Helvetica Neue,Helvetica,Arial,sans-serif; }

.fancybox-close-small {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
  z-index: 10;
  cursor: pointer; }

.fancybox-close-small:after {
  content: "×";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font: 20px/30px Arial,Helvetica Neue,Helvetica,sans-serif;
  color: #888;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background: #fff;
  transition: background .2s;
  box-sizing: border-box;
  z-index: 2; }

.fancybox-close-small:focus:after {
  outline: 1px dotted #888; }

.fancybox-slide--video .fancybox-close-small {
  top: -36px;
  right: -36px;
  background: transparent; }

.fancybox-close-small:hover:after {
  color: #555;
  background: #eee; }

.fancybox-caption-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 30px 0;
  z-index: 99998;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8));
  opacity: 0;
  transition: opacity .2s;
  pointer-events: none; }

.fancybox-show-caption .fancybox-caption-wrap {
  opacity: 1; }

.fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #fff;
  line-height: 20px;
  -webkit-text-size-adjust: none; }

.fancybox-caption a, .fancybox-caption button {
  pointer-events: all; }

.fancybox-caption a {
  color: #fff;
  text-decoration: underline; }

.fancybox-button {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  background: transparent;
  color: #fff;
  box-sizing: border-box;
  vertical-align: top;
  outline: none; }

.fancybox-button--disabled {
  cursor: default;
  pointer-events: none; }

.fancybox-button, .fancybox-infobar__body {
  background: rgba(30, 30, 30, 0.6); }

.fancybox-button:hover {
  background: rgba(0, 0, 0, 0.8); }

.fancybox-button:after, .fancybox-button:before {
  content: "";
  pointer-events: none;
  position: absolute;
  border-color: #fff;
  background-color: currentColor;
  color: currentColor;
  opacity: .9;
  box-sizing: border-box;
  display: inline-block; }

.fancybox-button--disabled:after, .fancybox-button--disabled:before {
  opacity: .5; }

.fancybox-button--left:after {
  left: 20px;
  transform: rotate(-135deg); }

.fancybox-button--left:after, .fancybox-button--right:after {
  top: 18px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor; }

.fancybox-button--right:after {
  right: 20px;
  transform: rotate(45deg); }

.fancybox-button--left {
  border-bottom-left-radius: 5px; }

.fancybox-button--right {
  border-bottom-right-radius: 5px; }

.fancybox-button--close {
  float: right; }

.fancybox-button--close:after, .fancybox-button--close:before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 16px;
  top: calc(50% - 1px);
  left: calc(50% - 8px); }

.fancybox-button--close:before {
  transform: rotate(45deg); }

.fancybox-button--close:after {
  transform: rotate(-45deg); }

.fancybox-loading {
  border: 6px solid rgba(99, 99, 99, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: a .8s infinite linear;
  animation: a .8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 99999; }

@-webkit-keyframes a {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@keyframes a {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@media (max-width: 800px) {
  .fancybox-controls {
    text-align: left; }
  .fancybox-button--left, .fancybox-button--right, .fancybox-buttons button:not(.fancybox-button--close) {
    display: none !important; }
  .fancybox-caption {
    padding: 20px 0;
    margin: 0; } }

.fancybox-button--fullscreen:before {
  width: 15px;
  height: 11px;
  left: 15px;
  top: 16px;
  border: 2px solid;
  background: none; }

.fancybox-button--play:before {
  top: 16px;
  left: 18px;
  width: 0;
  height: 0;
  border-top: 6px inset transparent;
  border-bottom: 6px inset transparent;
  border-left: 10px solid;
  border-radius: 1px;
  background: transparent; }

.fancybox-button--pause:before {
  top: 16px;
  left: 18px;
  width: 7px;
  height: 11px;
  border-style: solid;
  border-width: 0 2px;
  background: transparent; }

.fancybox-button--thumbs span {
  font-size: 23px; }

.fancybox-button--thumbs:before {
  top: 20px;
  left: 21px;
  width: 3px;
  height: 3px;
  box-shadow: 0 -4px 0,-4px -4px 0,4px -4px 0,inset 0 0 0 32px,-4px 0 0,4px 0 0,0 4px 0,-4px 4px 0,4px 4px 0; }

.fancybox-container--thumbs .fancybox-caption-wrap, .fancybox-container--thumbs .fancybox-controls, .fancybox-container--thumbs .fancybox-slider-wrap {
  right: 220px; }

.fancybox-thumbs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 220px;
  margin: 0;
  padding: 5px 5px 0 0;
  background: #fff;
  z-index: 99993;
  word-break: normal;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }

.fancybox-thumbs > ul {
  list-style: none;
  position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0; }

.fancybox-thumbs > ul > li {
  float: left;
  overflow: hidden;
  max-width: 50%;
  padding: 0;
  margin: 0;
  width: 105px;
  height: 75px;
  position: relative;
  cursor: pointer;
  outline: none;
  border: 5px solid #fff;
  border-top-width: 0;
  border-right-width: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box; }

li.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1); }

.fancybox-thumbs > ul > li > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  max-height: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-thumbs > ul > li:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  border: 4px solid #4ea7f9;
  z-index: 99991;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.fancybox-thumbs > ul > li.fancybox-thumbs-active:before {
  opacity: 1; }

@media (max-width: 800px) {
  .fancybox-thumbs {
    display: none !important; }
  .fancybox-container--thumbs .fancybox-caption-wrap, .fancybox-container--thumbs .fancybox-controls, .fancybox-container--thumbs .fancybox-slider-wrap {
    right: 0; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

#footer {
  padding: 3.2rem 8rem 3.2rem 0;
  background: url("../images/DSC08484.png") 100% 75% no-repeat;
  background-size: 107%; }
  #footer .contacts {
    padding-top: 8.25rem; }
    #footer .contacts .button {
      position: relative;
      width: 100%;
      text-transform: lowercase;
      border-bottom: 0.19rem solid #111;
      padding: 0.31rem 0; }
      #footer .contacts .button .arrow {
        position: absolute;
        top: 0.75rem;
        right: 1rem;
        transition: 0.2s ease-out;
        width: 2rem; }
      #footer .contacts .button:hover .arrow, #footer .contacts .button:focus .arrow {
        transform: translateX(0.8rem); }
    #footer .contacts .contacts-list .item {
      padding-bottom: 1.25rem; }
    #footer .contacts .contacts-list a {
      color: #111;
      display: block; }
      #footer .contacts .contacts-list a:hover, #footer .contacts .contacts-list a:focus {
        text-decoration: underline; }
  #footer .partners {
    padding-top: 3.25rem;
    transform: translateX(-21.5rem); }

.header-mobile {
  display: none; }

.header {
  position: relative;
  padding-top: 1rem;
  min-height: 10rem;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem; }
  .header a {
    color: #111; }
  .header .contacts {
    padding-left: 1rem; }
    .header .contacts button {
      display: block;
      border-bottom: 0.125rem solid #111;
      position: relative;
      font: inherit;
      width: 8rem;
      text-align: left;
      background-color: transparent; }
      .header .contacts button::before {
        position: absolute;
        content: "";
        width: 0.4rem;
        height: 0.4rem;
        top: 0;
        right: 2px;
        border: 0.125rem solid #111;
        transform: rotate(45deg);
        border-left-color: transparent;
        border-top-color: transparent; }
      .header .contacts button.button-active::before {
        transform: translateY(0.45rem) rotate(-135deg); }
    .header .contacts .contacts-list {
      display: none;
      padding-top: 1rem; }
      .header .contacts .contacts-list .item {
        padding-bottom: 0.5rem; }
        .header .contacts .contacts-list .item a:hover {
          text-decoration: underline;
          white-space: nowrap; }
      .header .contacts .contacts-list.contacts-show {
        display: block; }
  .header .socials a:hover, .header .socials a:focus {
    text-decoration: underline; }
  .header .logo {
    position: absolute;
    right: -1rem;
    top: 0;
    width: 20%; }

#nav {
  padding-top: 1rem; }
  #nav ul {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    left: 0;
    z-index: 2; }
    #nav ul li.current a {
      color: #111; }
    #nav ul li a {
      display: block;
      text-transform: lowercase;
      font-size: 1.75rem;
      line-height: 1.8rem;
      color: #999999;
      padding-right: 4rem;
      padding-bottom: 1.5rem; }
      #nav ul li a:hover {
        color: #111; }

* {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #fafafa;
  background-color: #444; }

::-webkit-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color: #fafafa;
  background-color: #373A3C; }

::-webkit-scrollbar-track {
  border-width: 0; }

::-moz-scrollbar {
  width: 6px; }

::-moz-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #fafafa;
  background-color: #373A3C; }

::-moz-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color: #fafafa;
  background-color: #666; }

::-moz-scrollbar-track {
  border-width: 0; }

html {
  font-size: 0.8vw; }

body {
  font-family: 'IBM Plex Mono', monospace; }

body, html {
  min-height: 101vh; }

input, textarea {
  padding: .6rem .8rem;
  width: 100%;
  font-size: 1rem; }

[type="submit"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important; }

.button {
  color: #111;
  background-color: transparent;
  display: inline-block; }

.wrapper {
  padding: 0 1rem; }

.section-border {
  border-bottom: 0.06rem solid #111; }
  .section-border::before, .section-border::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 0.06rem;
    background-color: #111; }
  .section-border::before {
    right: 100%;
    width: 21.5rem; }
  .section-border::after {
    width: 1rem;
    left: 100%; }

.text-block p, .text-block a {
  line-height: 1.25rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif; }

.text-block ul li {
  line-height: 1.25rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.section-title.type-1 > * {
  font-size: 5.38rem;
  line-height: 5rem;
  font-family: 'Times New Roman', Times, serif; }

.section-title.type-2 > * {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.75rem;
  line-height: 3.75rem; }

.item-title {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: Arial, Helvetica, sans-serif; }

.black-block {
  color: #fafafa;
  border-color: #fafafa; }
  .black-block a, .black-block p {
    color: #fafafa; }

#main {
  background: url("../images/image 1.png") 60% 0 no-repeat;
  background-size: 80%; }

#section-hello {
  position: relative; }
  #section-hello .title {
    padding-right: 20rem; }
    #section-hello .title p {
      margin-top: 3.75rem; }
  #section-hello .desc {
    padding-right: 6.5rem;
    margin: 7rem 0 7rem 0;
    background-color: #fafafa; }
    #section-hello .desc .button {
      position: relative;
      width: 100%;
      text-transform: lowercase;
      border-bottom: 0.19rem solid #111;
      padding: 0.31rem 0; }
      #section-hello .desc .button .arrow {
        position: absolute;
        top: 0.75rem;
        right: 1rem;
        transition: 0.2s ease-out;
        width: 2rem; }
      #section-hello .desc .button:hover .arrow, #section-hello .desc .button:focus .arrow {
        transform: translateX(0.8rem); }
    #section-hello .desc p {
      color: #A5A5A5;
      padding: 1rem 0; }
  #section-hello .hello-image-wrapper {
    position: absolute;
    bottom: -4rem;
    right: -1rem;
    width: 50%; }

#section-route {
  padding-top: 2rem;
  font-size: 2rem;
  line-height: 2.5rem; }
  #section-route .section-title {
    padding-bottom: 1.25rem; }
  #section-route .desc {
    padding-bottom: 4.5rem; }
  #section-route .item {
    padding: 0.6rem;
    border-top: 1px solid #DFDFDF;
    min-height: 5.2rem; }
    #section-route .item .title {
      padding-right: 2rem; }
    #section-route .item .item-desc p {
      display: none;
      padding-right: 3.75rem;
      padding-bottom: 2rem; }
    #section-route .item .item-desc ul {
      list-style: disc;
      display: none; }
    #section-route .item .item-desc.desc-show p, #section-route .item .item-desc.desc-show ul {
      display: block; }
    #section-route .item .item-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }

#section-projects {
  padding: 3.5rem 0 7rem 0; }
  #section-projects .list {
    grid-gap: 0.63rem;
    width: calc(100% - 0.32rem);
    margin-left: -0.32rem;
    padding-top: 2.5rem; }
    #section-projects .list .item {
      padding: 0 0.32rem; }
      #section-projects .list .item .item-image {
        margin-bottom: 0.5rem; }
        #section-projects .list .item .item-image img {
          width: 100%; }
      #section-projects .list .item a {
        display: block;
        color: #555555; }
      #section-projects .list .item p {
        padding-top: 0.5rem; }
  #section-projects .section-projects-arrows .slick-arrow {
    font-size: 0.00001rem;
    color: transparent;
    width: 6rem;
    height: 5rem;
    background: url("../images/Arrow 4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem 1rem;
    padding: 2rem;
    cursor: pointer; }
    #section-projects .section-projects-arrows .slick-arrow.slick-prev {
      transform: rotate(180deg); }

#about-us {
  padding-top: 2rem; }
  #about-us .section-title {
    padding-bottom: 6rem; }
  #about-us .about-list .item {
    padding: 0.4rem 0.5rem 2rem 0.4rem;
    border-top: 1px solid #DFDFDF;
    height: auto; }
    #about-us .about-list .item .item-title {
      text-transform: lowercase; }
    #about-us .about-list .item .item-desc {
      display: none;
      padding-top: 0.33rem; }
      #about-us .about-list .item .item-desc.desc-show {
        display: block; }
    #about-us .about-list .item .item-button {
      position: relative;
      background-color: transparent;
      padding-top: 1rem;
      width: 2rem;
      height: 2rem;
      border: none;
      outline: none; }
      #about-us .about-list .item .item-button::before, #about-us .about-list .item .item-button::after {
        content: "";
        position: absolute;
        background-color: #111;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      #about-us .about-list .item .item-button::before {
        width: 1rem;
        height: 2px; }
      #about-us .about-list .item .item-button::after {
        width: 2px;
        height: 1rem;
        transition: 0.2s ease-out; }
    #about-us .about-list .item:hover .item-button, #about-us .about-list .item:focus .item-button {
      transform: scale(1.2); }
    #about-us .about-list .item.button-active .item-button::after {
      transform: translate(-50%, -50%) rotate(90deg); }
  #about-us .about-desc {
    padding: 0.5rem 4rem 5rem 6.3rem; }
  #about-us .about-contacts {
    padding-top: 13rem; }
    #about-us .about-contacts .contacts {
      padding: 1.5rem 4rem 5rem 6.3rem;
      font-size: 2rem;
      line-height: 2.5rem;
      font-family: Arial, Helvetica, sans-serif; }
      #about-us .about-contacts .contacts a {
        display: block;
        color: #111;
        margin-bottom: 1rem; }
        #about-us .about-contacts .contacts a:hover, #about-us .about-contacts .contacts a:focus {
          text-decoration: underline; }
  #about-us .form {
    position: relative;
    padding-bottom: 10rem; }
    #about-us .form .image-wrapper {
      width: calc(100% + 20.5rem);
      transform: translateX(-20.5rem);
      overflow: hidden; }
      #about-us .form .image-wrapper img {
        -o-object-fit: cover;
        object-fit: cover; }
    #about-us .form a {
      white-space: nowrap;
      color: #fafafa;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(20.5rem, 4rem);
      padding: 2rem; }

#teachers {
  padding-bottom: 7.6rem; }
  #teachers .teachers-desc {
    padding-right: 4rem; }
    #teachers .teachers-desc .description {
      padding: 4rem 0 5rem 0; }
    #teachers .teachers-desc .quote {
      color: #949494; }
  #teachers .teachers-list {
    padding-right: 7.3rem; }
    #teachers .teachers-list .item {
      border-bottom: 1px solid #111;
      padding: 0.5rem 0; }
      #teachers .teachers-list .item button {
        position: relative;
        background-color: transparent;
        color: #0000FF;
        font: inherit; }
        #teachers .teachers-list .item button .social-list {
          position: absolute;
          top: 0;
          left: 100%;
          padding-left: 1rem;
          display: flex;
          opacity: 0;
          z-index: 2; }
          #teachers .teachers-list .item button .social-list a {
            display: block;
            margin-right: 1rem;
            color: #111;
            border-bottom: 1px solid #111; }
        #teachers .teachers-list .item button:hover, #teachers .teachers-list .item button:focus {
          color: #949494;
          white-space: nowrap; }
          #teachers .teachers-list .item button:hover .social-list, #teachers .teachers-list .item button:focus .social-list {
            opacity: 1; }
      #teachers .teachers-list .item .item-title {
        text-align: right; }
    #teachers .teachers-list ul:hover + .item-title {
      opacity: 0; }
    #teachers .teachers-list .item:not(:first-child) {
      min-height: 10rem; }

#fest {
  padding: 5rem 0 10.25rem 0; }
  #fest .fest-desc {
    padding-top: 3rem; }
    #fest .fest-desc .description {
      padding-top: 3.5rem; }
  #fest .poster-wrapper {
    padding-right: 9rem; }

#questions {
  padding: 5rem 0 18.5rem 0; }
  #questions .questions-list .item {
    border-bottom: 1px solid #111;
    padding: 3rem 1rem 0.5rem 0; }
    #questions .questions-list .item .item-desc .description {
      padding-top: 2rem;
      display: none; }
      #questions .questions-list .item .item-desc .description.desc-show {
        display: block; }
    #questions .questions-list .item .item-button {
      position: relative;
      background-color: transparent;
      padding-top: 1rem;
      width: 2rem;
      height: 2rem;
      border: none;
      outline: none;
      cursor: pointer; }
      #questions .questions-list .item .item-button::before, #questions .questions-list .item .item-button::after {
        content: "";
        position: absolute;
        background-color: #111;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      #questions .questions-list .item .item-button::before {
        width: 1.6rem;
        height: 1px; }
      #questions .questions-list .item .item-button::after {
        width: 1px;
        height: 1.6rem;
        transition: 0.2s ease-out; }
    #questions .questions-list .item:hover .item-button, #questions .questions-list .item:focus .item-button {
      transform: scale(1.2); }
    #questions .questions-list .item.button-active .item-button::after {
      transform: translate(-50%, -50%) rotate(90deg); }

@media screen and (min-width: 1280px) and (max-width: 1650) {
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-vw-1 {
    width: 8.33333333vw; }
  .col-md-vw-2 {
    width: 16.66666667vw; }
  .col-md-vw-3 {
    width: 25vw; }
  .col-md-vw-4 {
    width: 33.33333333vw; }
  .col-md-vw-5 {
    width: 41.66666667vw; }
  .col-md-vw-6 {
    width: 50vw; }
  .col-md-vw-7 {
    width: 58.33333333vw; }
  .col-md-vw-8 {
    width: 66.66666667vw; }
  .col-md-vw-9 {
    width: 75vw; }
  .col-md-vw-10 {
    width: 83.05vw; }
  .col-md-vw-11 {
    width: 91.66666667vw; }
  .col-md-vw-12 {
    width: 100vw; }
  .grid-col-md-1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); }
  .grid-col-md-2 {
    -ms-grid-columns: (2fr)[2];
    grid-template-columns: repeat(2, 2fr); }
  .grid-col-md-3 {
    -ms-grid-columns: (3fr)[3];
    grid-template-columns: repeat(3, 3fr); }
  .grid-col-md-4 {
    -ms-grid-columns: (4fr)[4];
    grid-template-columns: repeat(4, 4fr); }
  .grid-col-md-5 {
    -ms-grid-columns: (5fr)[5];
    grid-template-columns: repeat(5, 5fr); }
  .grid-col-md-6 {
    -ms-grid-columns: (6fr)[6];
    grid-template-columns: repeat(6, 6fr); } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .col-lm-1 {
    width: 8.33333333%; }
  .col-lm-2 {
    width: 16.66666667%; }
  .col-lm-3 {
    width: 25%; }
  .col-lm-4 {
    width: 33.33333333%; }
  .col-lm-5 {
    width: 41.66666667%; }
  .col-lm-6 {
    width: 50%; }
  .col-lm-7 {
    width: 58.33333333%; }
  .col-lm-8 {
    width: 66.66666667%; }
  .col-lm-9 {
    width: 75%; }
  .col-lm-10 {
    width: 83.33333333%; }
  .col-lm-11 {
    width: 91.66666667%; }
  .col-lm-12 {
    width: 100%; }
  .col-lm-auto {
    width: auto; }
  .col-lm-vw-1 {
    width: 8.33333333vw; }
  .col-lm-vw-2 {
    width: 16.66666667vw; }
  .col-lm-vw-3 {
    width: 25vw; }
  .col-lm-vw-4 {
    width: 33.33333333vw; }
  .col-lm-vw-5 {
    width: 41.66666667vw; }
  .col-lm-vw-6 {
    width: 50vw; }
  .col-lm-vw-7 {
    width: 58.33333333vw; }
  .col-lm-vw-8 {
    width: 66.66666667vw; }
  .col-lm-vw-9 {
    width: 75vw; }
  .col-lm-vw-10 {
    width: 83.33333333vw; }
  .col-lm-vw-11 {
    width: 91.66666667vw; }
  .col-lm-vw-12 {
    width: 100vw; }
  .grid-col-lm-1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); }
  .grid-col-lm-2 {
    -ms-grid-columns: (2fr)[2];
    grid-template-columns: repeat(2, 2fr); }
  .grid-col-lm-3 {
    -ms-grid-columns: (3fr)[3];
    grid-template-columns: repeat(3, 3fr); }
  .grid-col-lm-4 {
    -ms-grid-columns: (4fr)[4];
    grid-template-columns: repeat(4, 4fr); }
  .grid-col-lm-5 {
    -ms-grid-columns: (5fr)[5];
    grid-template-columns: repeat(5, 5fr); }
  .grid-col-lm-6 {
    -ms-grid-columns: (6fr)[6];
    grid-template-columns: repeat(6, 6fr); }
  [class*=padding-] {
    padding: 0; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* global */
  .col-xs-1 {
    width: 8.33333333%; }
  .col-xs-2 {
    width: 16.66666667%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-4 {
    width: 33.33333333%; }
  .col-xs-5 {
    width: 41.66666667%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-7 {
    width: 58.33333333%; }
  .col-xs-8 {
    width: 66.66666667%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-10 {
    width: 83.33333333%; }
  .col-xs-11 {
    width: 91.66666667%; }
  .col-xs-12 {
    width: 100%; }
  .col-xs-auto {
    width: auto; }
  .col-xs-vw-1 {
    width: 8.33333333vw; }
  .col-xs-vw-2 {
    width: 16.66666667vw; }
  .col-xs-vw-3 {
    width: 25vw; }
  .col-xs-vw-4 {
    width: 33.33333333vw; }
  .col-xs-vw-5 {
    width: 41.66666667vw; }
  .col-xs-vw-6 {
    width: 50vw; }
  .col-xs-vw-7 {
    width: 58.33333333vw; }
  .col-xs-vw-8 {
    width: 66.66666667vw; }
  .col-xs-vw-9 {
    width: 75vw; }
  .col-xs-vw-10 {
    width: 83.33333333vw; }
  .col-xs-vw-11 {
    width: 91.66666667vw; }
  .col-xs-vw-12 {
    width: 100vw; }
  .grid-col-xs-1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); }
  .grid-col-xs-2 {
    -ms-grid-columns: (2fr)[2];
    grid-template-columns: repeat(2, 2fr); }
  .grid-col-xs-3 {
    -ms-grid-columns: (3fr)[3];
    grid-template-columns: repeat(3, 3fr); }
  .grid-col-xs-4 {
    -ms-grid-columns: (4fr)[4];
    grid-template-columns: repeat(4, 4fr); }
  .grid-col-xs-5 {
    -ms-grid-columns: (5fr)[5];
    grid-template-columns: repeat(5, 5fr); }
  .grid-col-xs-6 {
    -ms-grid-columns: (6fr)[6];
    grid-template-columns: repeat(6, 6fr); }
  [class*=padding-] {
    padding: 0; }
  html {
    font-size: 16px; }
  body {
    overflow-x: hidden; }
  .wrapper {
    display: block; }
  .section-title.type-1 > * {
    font-size: 2.25rem;
    line-height: 2.25rem; }
  .section-title.type-2 > * {
    font-size: 1.8rem;
    line-height: 2rem; }
  .item-title {
    font-size: 1.25rem;
    line-height: 1.9rem; }
    .item-title h3, .item-title a {
      font-size: 1.25rem;
      line-height: 1.9rem; }
  .text-block p, .text-block a {
    font-size: 0.8rem;
    line-height: 1rem; }
  #main {
    background: none; }
  #nav {
    display: none;
    position: fixed;
    left: 0rem;
    top: 3rem;
    z-index: 3;
    background-color: #fafafa;
    padding: 2rem 0 3rem 1rem; }
    #nav.show-nav {
      display: block; }
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000; }
  .header {
    display: none; }
  .header-mobile {
    display: flex;
    padding: 1rem;
    background-color: #fafafa;
    width: calc(100% + 2rem);
    transform: translateX(-1rem); }
    .header-mobile button {
      padding-left: 1rem;
      background-color: transparent; }
      .header-mobile button .line {
        height: 0.125rem;
        background-color: #111;
        margin: auto 0; }
      .header-mobile button::before, .header-mobile button::after {
        position: absolute;
        content: "";
        width: calc(100% - 1rem);
        height: 0.125rem;
        right: 0;
        background-color: #111;
        transition: 0.2s ease-out; }
      .header-mobile button::before {
        top: 0.5rem; }
      .header-mobile button::after {
        top: calc(100% - 0.6rem); }
      .header-mobile button.button-active .line {
        display: none; }
      .header-mobile button.button-active::before {
        transform: translateY(0.5rem) rotate(45deg); }
      .header-mobile button.button-active::after {
        transform: translateY(-0.65rem) rotate(-45deg); }
  #section-hello {
    background: url("../images/IMG_1357 1.png") no-repeat;
    background-size: 160%;
    background-position: 10% 900%;
    padding: 0.5rem 1rem 1rem 1rem;
    width: calc(100% + 2rem);
    transform: translateX(-1rem); }
    #section-hello .title {
      padding-right: 0; }
      #section-hello .title p {
        margin-top: 0.5rem; }
    #section-hello .desc {
      margin: 13rem 0 0 0;
      padding: 0 0.5rem; }
      #section-hello .desc .button {
        padding-top: 1rem; }
        #section-hello .desc .button .arrow {
          top: 1.45rem; }
      #section-hello .desc p {
        padding-bottom: 0.5rem; }
    #section-hello .hello-image-wrapper {
      display: none; }
  #section-route {
    padding-top: 4rem; }
    #section-route .desc {
      padding-bottom: 3rem; }
    #section-route .list .item {
      flex-direction: column; }
      #section-route .list .item .title {
        padding-bottom: 1rem; }
      #section-route .list .item .item-desc p {
        padding-right: 0; }
      #section-route .list .item .item-desc ul {
        padding: 0 0 1rem 1rem; }
      #section-route .list .item .item-image {
        position: static;
        height: auto; }
  #section-projects {
    padding: 5rem 0 3rem 0; }
  #about-us .about-desc {
    padding: 2rem 0 0 0; }
  #about-us .about-contacts {
    padding-top: 5rem; }
    #about-us .about-contacts .contacts-desc {
      padding-bottom: 3rem; }
    #about-us .about-contacts .contacts {
      padding: 0 0 1rem 0; }
  #about-us .form {
    padding-bottom: 5rem; }
    #about-us .form a {
      display: block;
      white-space: normal;
      top: 7rem;
      left: 20.5rem;
      padding: 0;
      transform: none; }
  #teachers .teachers-desc {
    padding-right: 0; }
    #teachers .teachers-desc .description {
      padding: 2rem 0 3rem 0; }
  #teachers .teachers-list {
    padding-right: 0;
    padding-top: 3rem; }
    #teachers .teachers-list .item {
      flex-direction: column-reverse;
      align-items: flex-start; }
      #teachers .teachers-list .item .item-title {
        text-align: left;
        padding-bottom: 1rem; }
      #teachers .teachers-list .item button {
        flex-direction: column; }
        #teachers .teachers-list .item button .social-list {
          position: static;
          padding-left: 0;
          padding-bottom: 0.5rem;
          display: none; }
        #teachers .teachers-list .item button:hover .social-list, #teachers .teachers-list .item button:focus .social-list {
          display: flex; }
      #teachers .teachers-list .item ul:hover + .item-title {
        opacity: 1; }
    #teachers .teachers-list .item:not(:first-child) {
      min-height: 5rem; }
  #fest {
    padding: 0 0 7rem 0; }
    #fest .poster-wrapper {
      padding-right: 0;
      margin-top: 4rem; }
  #questions {
    padding: 3rem 0 6rem 0; }
  #footer {
    padding-right: 0;
    background: none; }
    #footer .contacts {
      padding-top: 3rem; }
      #footer .contacts .contacts-list {
        padding-top: 2rem; }
      #footer .contacts .social {
        padding-top: 2rem; }
    #footer .partners {
      transform: translateX(0); } }
