@import '../parts/vars';

@media screen and (min-width: 1280px) and (max-width: 1650) {

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-vw-1 {
        width: 8.33333333vw
    }

    .col-md-vw-2 {
        width: 16.66666667vw
    }

    .col-md-vw-3 {
        width: 25vw
    }

    .col-md-vw-4 {
        width: 33.33333333vw
    }

    .col-md-vw-5 {
        width: 41.66666667vw
    }

    .col-md-vw-6 {
        width: 50vw
    }

    .col-md-vw-7 {
        width: 58.33333333vw
    }

    .col-md-vw-8 {
        width: 66.66666667vw
    }

    .col-md-vw-9 {
        width: 75vw
    }

    .col-md-vw-10 {
        width: 83.05vw
    }

    .col-md-vw-11 {
        width: 91.66666667vw
    }

    .col-md-vw-12 {
        width: 100vw
    }

    .grid-col-md-1 {
        grid-template-columns: repeat(1, 1fr)
    }

    .grid-col-md-2 {
        grid-template-columns: repeat(2, 2fr)
    }

    .grid-col-md-3 {
        grid-template-columns: repeat(3, 3fr)
    }

    .grid-col-md-4 {
        grid-template-columns: repeat(4, 4fr)
    }

    .grid-col-md-5 {
        grid-template-columns: repeat(5, 5fr)
    }

    .grid-col-md-6 {
        grid-template-columns: repeat(6, 6fr)
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .col-lm-1 {
        width: 8.33333333%
    }

    .col-lm-2 {
        width: 16.66666667%
    }

    .col-lm-3 {
        width: 25%
    }

    .col-lm-4 {
        width: 33.33333333%
    }

    .col-lm-5 {
        width: 41.66666667%
    }

    .col-lm-6 {
        width: 50%
    }

    .col-lm-7 {
        width: 58.33333333%
    }

    .col-lm-8 {
        width: 66.66666667%
    }

    .col-lm-9 {
        width: 75%
    }

    .col-lm-10 {
        width: 83.33333333%
    }

    .col-lm-11 {
        width: 91.66666667%;
    }

    .col-lm-12 {
        width: 100%
    }

    .col-lm-auto {
        width: auto;
    }

    .col-lm-vw-1 {
        width: 8.33333333vw
    }

    .col-lm-vw-2 {
        width: 16.66666667vw
    }

    .col-lm-vw-3 {
        width: 25vw
    }

    .col-lm-vw-4 {
        width: 33.33333333vw
    }

    .col-lm-vw-5 {
        width: 41.66666667vw
    }

    .col-lm-vw-6 {
        width: 50vw
    }

    .col-lm-vw-7 {
        width: 58.33333333vw
    }

    .col-lm-vw-8 {
        width: 66.66666667vw
    }

    .col-lm-vw-9 {
        width: 75vw
    }

    .col-lm-vw-10 {
        width: 83.33333333vw
    }

    .col-lm-vw-11 {
        width: 91.66666667vw
    }

    .col-lm-vw-12 {
        width: 100vw
    }

    .grid-col-lm-1 {
        grid-template-columns: repeat(1, 1fr)
    }

    .grid-col-lm-2 {
        grid-template-columns: repeat(2, 2fr)
    }

    .grid-col-lm-3 {
        grid-template-columns: repeat(3, 3fr)
    }

    .grid-col-lm-4 {
        grid-template-columns: repeat(4, 4fr)
    }

    .grid-col-lm-5 {
        grid-template-columns: repeat(5, 5fr)
    }

    .grid-col-lm-6 {
        grid-template-columns: repeat(6, 6fr)
    }

    // @for $i from 1 through 50 {
    //     .grid-gap-lm-#{$i} {
    //         grid-gap: #{$i}px;
    //     }
    // }

    [class*=padding-] {
        padding: 0;
    }

    html {
        //font-size: 16px;
    }

    // @include mobileStyles;
    // @include headerFullwidth;

}

@media screen and (min-width: 320px) and (max-width: 767px) {

    /* global */

    .col-xs-1 {
        width: 8.33333333%
    }

    .col-xs-2 {
        width: 16.66666667%
    }

    .col-xs-3 {
        width: 25%
    }

    .col-xs-4 {
        width: 33.33333333%
    }

    .col-xs-5 {
        width: 41.66666667%
    }

    .col-xs-6 {
        width: 50%
    }

    .col-xs-7 {
        width: 58.33333333%
    }

    .col-xs-8 {
        width: 66.66666667%
    }

    .col-xs-9 {
        width: 75%
    }

    .col-xs-10 {
        width: 83.33333333%
    }

    .col-xs-11 {
        width: 91.66666667%;
        //width: calc(100vw - .8rem);
    }

    .col-xs-12 {
        width: 100%
    }

    .col-xs-auto {
        width: auto;
    }

    .col-xs-vw-1 {
        width: 8.33333333vw
    }

    .col-xs-vw-2 {
        width: 16.66666667vw
    }

    .col-xs-vw-3 {
        width: 25vw
    }

    .col-xs-vw-4 {
        width: 33.33333333vw
    }

    .col-xs-vw-5 {
        width: 41.66666667vw
    }

    .col-xs-vw-6 {
        width: 50vw
    }

    .col-xs-vw-7 {
        width: 58.33333333vw
    }

    .col-xs-vw-8 {
        width: 66.66666667vw
    }

    .col-xs-vw-9 {
        width: 75vw
    }

    .col-xs-vw-10 {
        width: 83.33333333vw
    }

    .col-xs-vw-11 {
        width: 91.66666667vw
    }

    .col-xs-vw-12 {
        width: 100vw
    }

    .grid-col-xs-1 {
        grid-template-columns: repeat(1, 1fr)
    }

    .grid-col-xs-2 {
        grid-template-columns: repeat(2, 2fr)
    }

    .grid-col-xs-3 {
        grid-template-columns: repeat(3, 3fr)
    }

    .grid-col-xs-4 {
        grid-template-columns: repeat(4, 4fr)
    }

    .grid-col-xs-5 {
        grid-template-columns: repeat(5, 5fr)
    }

    .grid-col-xs-6 {
        grid-template-columns: repeat(6, 6fr)
    }

    // @for $i from 1 through 50 {
    //     .grid-gap-xs-#{$i} {
    //         grid-gap: #{$i}px;
    //     }
    // }

    [class*=padding-] {
        padding: 0;
    }

    html {
        font-size: 16px;
    }

    body {
        overflow-x: hidden;
    }

    .wrapper{
        display: block;
    }

    .section-title {
        &.type-1 {
            & > * {
                font-size: 2.25rem;
                line-height: 2.25rem;
            }
        }
        &.type-2 {
            & > * {
                font-size: 1.8rem;
                line-height:2rem;
            }
        }
    }

    .item-title{
        font-size: 1.25rem;
        line-height: 1.9rem;
        h3, a{
            font-size: 1.25rem;
            line-height: 1.9rem;
        }
    }

    .text-block{
        p, a {
          font-size: 0.8rem;
          line-height: 1rem;
        }
    }






    #main{
        background: none;
    }


    #nav{
        display: none;
        position: fixed;
        left: 0rem;
        top: 3rem;
        z-index: 3;
        background-color: $white;
        padding: 2rem 0 3rem 1rem;

        &.show-nav{
            display: block;
        }
    }

    header{
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10000;
    }

    .header{
        display: none;
    }

    .header-mobile{
        display: flex;
        padding: 1rem;
        background-color: $white;
        width: calc(100% + 2rem);
        transform: translateX(-1rem);

        button{
            padding-left: 1rem;
            background-color: transparent;
            .line{
                height: 0.125rem;
                background-color: $black;
                margin: auto 0;
            }

            &::before,
            &::after {
                position: absolute;
                content:"";
                width: calc(100% - 1rem);
                height: 0.125rem;
                right: 0;
                background-color: $black;
                transition: 0.2s ease-out;
            }

            &::before{
                top:0.5rem;
            }
            &::after{
                top: calc(100% - 0.6rem);
            }

            &.button-active{
                .line{
                    display: none;
                }

                &::before{
                    transform: translateY(0.5rem) rotate(45deg);
                }

                &::after{
                    transform: translateY(-0.65rem) rotate(-45deg);
                }
            }
        }
    }

    #section-hello{
        background: url("../images/IMG_1357 1.png") no-repeat;
        background-size: 160%;
        background-position: 10% 900%;
        padding:0.5rem 1rem 1rem 1rem;
        width: calc(100% + 2rem);
        transform: translateX(-1rem);
        .title{
            padding-right: 0;

            p{
                margin-top: 0.5rem;
            }
        }

        .desc{
            margin: 13rem 0 0 0;
            padding: 0 0.5rem;
            .button {
                padding-top: 1rem;

                .arrow{
                    top: 1.45rem;
                }
            }
            p{
                padding-bottom: 0.5rem;
            }
        }

        .hello-image-wrapper{
            display: none;
        }
    }

    #section-route{
        padding-top: 4rem;

        .desc{
            padding-bottom: 3rem;
        }

        .list{
            .item{
                flex-direction: column;

                .title{
                    padding-bottom: 1rem;
                }

                .item-desc{
                    p{
                        padding-right: 0;
                    }

                    ul{
                        padding: 0 0 1rem 1rem;
                    }
                }
                
                .item-image{
                    position: static;
                    height: auto;
                }
            }
        }
    }

    #section-projects{
        padding:5rem 0 3rem 0;
    }

    #about-us{
        .about-desc{
            padding: 2rem 0 0 0;
        }

        .about-contacts{
            padding-top: 5rem;

            .contacts-desc{
                padding-bottom: 3rem;
            }

            .contacts{
                padding: 0 0 1rem 0;
            }
        }

        .form{
            padding-bottom: 5rem;

            a {
                display: block;
                white-space: normal;
                top: 7rem;
                left: 20.5rem;
                padding: 0;
                transform: none;
            }
        }
    }

    #teachers{
        .teachers-desc{
            padding-right: 0;

            .description{
                padding: 2rem 0 3rem 0;
            }
        }
        .teachers-list{
            padding-right: 0;
            padding-top: 3rem;
            .item{
                flex-direction: column-reverse;
                align-items: flex-start;

                .item-title{
                    text-align: left;
                    padding-bottom: 1rem;
                }

                button{
                    flex-direction: column;
                    .social-list{
                        position: static;
                        padding-left: 0;
                        padding-bottom: 0.5rem;
                        display: none;
                    }

                    &:hover,
                    &:focus {
                        .social-list{
                            display: flex;
                        }
                    }
                }

                ul:hover+.item-title{
                    opacity: 1;
                  }
            }

            .item:not(:first-child){
                min-height: 5rem;
            }
        }
    }

    #fest{
        padding: 0 0 7rem 0;
        .poster-wrapper{
            padding-right: 0;
            margin-top: 4rem;
        }
    }

    #questions{
        padding: 3rem 0 6rem 0;
    }

    #footer{
        padding-right:0;
        background: none;
        .contacts{
            padding-top: 3rem;

            .contacts-list{
                padding-top: 2rem;
            }

            .social{
                padding-top: 2rem;
            }
        }


        .partners{
            transform: translateX(0);
        }
    }
}

