@import '../_vars';

#footer {
    padding: 3.2rem 8rem 3.2rem 0;
    background: url("../images/DSC08484.png") 100% 75% no-repeat;
    background-size: 107%;

	.contacts{
        padding-top: 8.25rem;
        .button {
            position: relative;
            width: 100%;
            text-transform: lowercase;
            border-bottom: 3px solid $black;
            padding: 5px 0;
      
            .arrow{
              position: absolute;
              top: 0.75rem;
              right: 1rem;
              transition: 0.2s ease-out;
            }

            &:hover,
            &:focus{
              .arrow{
                transform: translateX(0.8rem);
            }
      }
          }

          .contacts-list{
            .item{
                padding-bottom: 1.25rem;
            }

            a {
                color: $black;
                display: block;
                &:hover,
                &:focus{
                    text-decoration: underline;
                }
              }
          }
    }

    .partners{
        padding-top: 3.25rem;
        transform: translateX( -21.5rem);
    }
}