@import '../_vars';

#main {
  background: url("../images/image 1.png") 60% 0 no-repeat;
  background-size: 80%;
}

#section-hello {
  position: relative;
  font-size: 2rem;
  line-height: 2.5rem;

  .title {
    padding-right: 20rem;

    p{
      margin-top: 3.75rem;
    }
  }

  .desc {
    width: max-content;
    padding-bottom: 7rem;

    .button {
      position: relative;
      width: 100%;
      text-transform: lowercase;
      margin-top: 7rem;
      border-bottom: 3px solid $black;
      padding: 5px 0;

      .arrow{
        position: absolute;
        top: 0.75rem;
        right: 1rem;
      }

      &:hover,
      &:focus{

      }
    }

    p {
      color: #A5A5A5;
      padding: 1rem 0;
    }
  }

  .hello-image {
    position: absolute;
    bottom: -4rem;
    right: -1rem;
    width: 50%;
  }
}

#section-route{
  padding-top:2rem;
  font-size:2rem;
  line-height:2.5rem;

  .section-title{
    padding-bottom: 1.25rem;
  }

  .desc{
    padding-bottom:4.5rem;
  }

  .item{
    padding: 0.6rem;
    border-top: 1px solid #DFDFDF;
    min-height:5.2rem;
    .title{
      padding-right:2rem;
    }
    .item-desc{
      
      p{ 
        display:none;
        padding-right: 3.75rem;
        padding-bottom: 2rem;
      }

      ul{
        list-style: disc;
        display: none;
      }

      &.desc-show{
        p, ul{
          display: block;
        }
      }
    }
    .item-image{
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      display: block;
      height:100%;
      object-fit: cover;
    }
  }
}

#section-projects{
  padding:3.5rem 0 7rem 0;

  .list{
    grid-gap: 0.63rem;
    width: calc(100% - 0.32rem);
    margin-left: -0.32rem;
    padding-top:2.5rem;

    .item{
      padding: 0 0.32rem;
      .item-image{
        margin-bottom:0.5rem;

        img{
          width:100%;
        }
      }

      a{
        display:block;
        color:#555555;
      }
  
      p{
        padding-top:0.5rem;
      }
    }
  }

  .section-projects-arrows{
    .slick-arrow{
      font-size: 0.00001rem;
      color: transparent;
      width: 2rem;
      height: 2rem;
      background: url('../images/Arrow 4.png') 0 50%;
      background-repeat: no-repeat;
      margin: 2rem;

      &.slick-prev{
        transform: rotate(180deg);
      }
    }
  }
}

#about-us{
  padding-top:2rem;

  .section-title{
    padding-bottom:6rem;
  }

  .about-list{
    .item {
      padding: 0.4rem 0.5rem 2rem 0.4rem;
      border-top: 1px solid #DFDFDF;
      height:auto;

      .item-title{
        font-size: 2rem;
        line-height: 2.5rem;
        text-transform: lowercase;
      }

      .item-desc{
        display: none;
        padding-top:0.33rem;

        &.desc-show{
          display: block;
        }
      }

      .item-button{
        position:relative;
        background-color: transparent;
        padding-top:1rem;
        width: 2rem;
        height: 2rem;
        border:none;
        outline: none;

        &::before,
        &::after{
          content:"";
          position: absolute;
          background-color: $black;
          top: 50%;
          left:50%;
          transform: translate(-50%, -50%);
        }

        &::before{
          width: 1rem;
          height: 2px;
        }

        &::after{
          width: 2px;
          height: 1rem;
          transition: 0.2s ease-out;
        }
      }

      &:hover,
      &:focus{
        .item-button{
          transform: scale(1.2);
        }
      }

      &.button-active{
        .item-button::after{
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }

  .about-desc{
    padding: 0.5rem 4rem 5rem 6.3rem;
    font-size: 2rem;
	  line-height: 2.5rem;
	  font-family: Arial, Helvetica, sans-serif;
  }

  .about-contacts{
    padding-top: 13rem;

    .contacts{
      padding: 1.5rem 4rem 5rem 6.3rem;
      font-size: 2rem;
	    line-height: 2.5rem;
      font-family: Arial, Helvetica, sans-serif;
      
      a{
        display:block;
        color: $black;
        margin-bottom: 1rem;
      }
    }
  }

  .form{
    position: relative;
    padding-bottom: 10rem;
    .image-wrapper{
      width: calc(100% + 20.5rem);
      transform: translateX(-20.5rem);
      overflow: hidden;
      img{
        object-fit: cover;
      }
    }

    a{
      white-space: nowrap;
      color: $white;
      position: absolute;
      left: 0; top: 0;
      transform: translate(20.5rem, 4rem);
      padding: 2rem;
    }
  }
}

#teachers{
  padding-bottom: 7.6rem;

  .teachers-desc{
    padding-right: 4rem;
    .description{
      padding: 4rem 0 5rem 0;
    }

    .quote{
      color: #949494;
    }
  }

  .teachers-list{
    padding-right: 7.3rem;
    .item{
      border-bottom: 1px solid $black;
      padding: 0.5rem 0;

      button{
        outline: none;
        border:none;
        background-color: transparent;
        color: #0000FF;
        font: inherit;

        .social-list{
          display: none;
          margin-left: 1rem;

          a{
            display: block;
            margin-right: 1rem;
            color: $black;
            border-bottom: 1px solid $black;
          }
        }

        &:hover,
        &:focus {
          color: #949494;
          white-space:nowrap;
          
          .social-list{
            display: flex;
          }
        }
      }

      .item-title{
        text-align: right;

        &.button-hover{
          opacity: 0;
        }
      }
    }

    .item:not(:first-child){
      min-height: 10rem;
    }
  }
}

#fest{
  padding: 5rem 0 10.25rem 0;

  .fest-desc{
    padding-top: 3rem;

    .description{
      padding-top:3.5rem;
    }
  }

  .poster-wrapper{
    padding-right: 9rem;
  }
}

#questions{
  padding: 5rem 0 18.5rem 0;

  .questions-list{
    .item{
      border-bottom: 1px solid $black;
      padding: 3rem 1rem 0.5rem 0;

      .item-desc{
        .description{
          padding-top: 2rem;
          display:none;

          &.desc-show{
            display: block;
          }
        }
      }

      .item-button{
        position:relative;
        background-color: transparent;
        padding-top:1rem;
        width: 2rem;
        height: 2rem;
        border:none;
        outline: none;
        cursor:pointer;

        &::before,
        &::after{
          content:"";
          position: absolute;
          background-color: $black;
          top: 50%;
          left:50%;
          transform: translate(-50%, -50%);
        }

        &::before{
          width: 1.6rem;
          height: 1px;
        }

        &::after{
          width: 1px;
          height: 1.6rem;
          transition: 0.2s ease-out;
        }
      }

      &:hover,
      &:focus{
        .item-button{
          transform: scale(1.2);
        }
      }

      &.button-active{
        .item-button::after{
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }
}
