@import '../_vars';

.text-block {

	h2,h3,h4 {

	}
	p {
		line-height: 1.5;
		margin-bottom: 1rem;
	}
	p, a, ul, li, ol, blockquote, strong, em, i, span {

	}
	p, ul, ol, blockquote {

	}
	ul {
		li {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}
}

.text-center {
    text-align: center;
}

.text-right {
	text-align: right;
}

ul {
	list-style: none;
}

h1,h2,h3 {

}

a {
	text-decoration: none;
}

h1 {

}

h2 {

}

.section-title {
    &.type-1 {
        & > * {
			font-size: 4rem;
			line-height: 4rem;
			font-family: 'Times New Roman', Times, serif;
        }
    }
    &.type-2 {
        & > * {
			font-family: 'Times New Roman', Times, serif;
			font-size: 2.5rem;
        }
    }
}

// if background is black

.black-block {
	color: $white;
	border-color: $white;
	a,p {
		color: $white;
	}
}